* {
  margin: 0;
  padding: 0;
  --textColor: #dfdfdf;
  --brandeisBlue: #123374;
  --brandeisBlueFaded: rgba(18, 51, 116, 1);
  --transitionTime: 0.3s;
}

body {
  background: url(https://www.commonapp.org/static/6204cb8d519e3e875a140c6bd07190b0/brandeis-university_41.jpg);
  box-sizing: border-box;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  min-height: 100vh;
  width: 100%;
}

body:after {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  top: 0;
  left: 0;
  display: block;
  content: "";
  z-index: -1;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.logoContainer {
  margin-top: 125px;
  width: 200px;
}

.brandeisSeal {
  width: 100%;
  background-color: white;
  border-radius: 50%;
}

.schoolName {
  color: var(--brandeisBlue);
  font-weight: bold;
  font-size: 2rem;
  margin: 20px;
}

.dockLi {
  color: var(--textColor);
  background: var(--brandeisBlueFaded);
  height: 50px;
  width: 400px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}
.dockLi:hover {
  border: 8px dotted;
}
/* -------------------------------------------------------------------- */
.dockLi a {
  text-decoration: none;
  color: var(--textColor);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
}

.footerItem {
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.footerItem img {
  width: 100%;
}

#settingsContainer img:hover {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* hidden container */
.hiddenContainer {
  background: var(--textColor);
  border: 2px solid black;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
  text-align: center;
  display: none;
  overflow: auto;
}

.miscListItem {
  width: 100%;
  margin-bottom: 30px;
  border: 2px solid black;
  display: flex;
}
.miscListimgContainer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 100px;
}
.miscListImgContainer img {
  height: 100px;
}
.miscListTextContainer {
  width: 100%;
}

.miscListA {
  display: flex;
  padding: 10px;
  color: black;
  text-decoration: none;
}
