* {
  margin: 0;
  padding: 0;
  --textColor: #dfdfdf;
  --brandeisBlue: #123374;
  --brandeisBlueFaded: rgba(18, 51, 116, 1);
  --transitionTime: 0.3s;
}

body {
  background: url(visitBrandeis.jpg);
  box-sizing: border-box;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  min-height: 100vh;
  width: 100%;
}

body:after {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  top: 0;
  left: 0;
  display: block;
  content: "";
  z-index: -1;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.logoContainer {
  margin-top: 125px;
  width: 200px;
}

.brandeisSeal {
  width: 100%;
  background-color: white;
  border-radius: 50%;
}

.schoolName {
  color: var(--brandeisBlue);
  font-weight: bold;
  font-size: 2rem;
  margin: 20px;
}
/* test */
/* .dockLi {
  color: var(--textColor);
  border: 2px solid var(--brandeisBlue);
  background: var(--brandeisBlueFaded);
  padding: 10px 180px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: background var(--transitionTime);
  cursor: pointer;
}
.dockLi:hover {
  background: var(--brandeisBlue); */
/* } */
/* -------------------------------------------------------------------- */
/* test */
.dockLi {
  color: var(--textColor);
  background: var(--brandeisBlueFaded);
  height: 50px;
  width: 400px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}
.dockLi:hover {
  border: 8px dotted;
}
/* -------------------------------------------------------------------- */
.dockLi a {
  text-decoration: none;
  color: var(--textColor);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  display: flex;
  justify-content: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.hiddenContainer {
  background: var(--textColor);
  border: 2px solid black;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
  text-align: center;
  display: none;
}
.miscUl li {
  list-style-type: none;
  text-align: center;
}

.settingsContainer {
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(18, 51, 116, 1);
  border: 2px solid var(--textColor); */
}
.settingsContainer img {
  width: 100%;
}

.linkName {
  display: inline-block;
}
